
  /* Ganti warna underline aktif & fokus jadi hitam */
  .form-outline .form-control:focus~.form-label {
    color: rgb(255, 255, 255);
  }

  .form-outline .form-control:focus {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
  }

  .form-outline .form-control {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

